# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.orig

# JetBrains IDE
.idea/
*.iml

# VSCode
.vscode/

# macOS/Linux
.DS_Store
*.sublime-workspace
*.sublime-project

# Windows
Thumbs.db
Desktop.ini

# Virtualenv
venv/
ENV/
env/
.venv/

# Output
out/

# JetBrains/ja-netfilter
jetbra/config-jetbrains/power.conf
jetbra/vmoptions/

# License
license.txt

# New config.json
config.json 
